[package]
name = "aurora-engine-migration-tool"
version = "0.1.0"
authors = ["Aurora Labs <hello@aurora.dev>", "Evgeny Ukhanov <evgeny@aurora.dev>"]
edition = "2021"
description = ""
documentation = ""
readme = true
homepage = "https://github.com/aurora-is-near/aurora-engine-migration-tool"
repository = "https://github.com/aurora-is-near/aurora-engine-migration-tool"
license = "CC0 1.0"
publish = false
autobenches = false

[dependencies]
aurora-engine-types = { git = "https://github.com/aurora-is-near/aurora-engine.git", rev = "904010fa86199a848d3709272d36548daf24359e", default-features = false }
serde = "1"
serde_json = "1"
serde_derive = "1"
base64 = "0.13"
borsh =  "0.9.3"
near-jsonrpc-client = "0.4.1"
near-jsonrpc-primitives = "0.15.0"
near-primitives = "0.15.0"
near-sdk = "4.1"
anyhow = "1.0"
tokio = { version = "1.14", features = ["full"] }

[features]
default = ["mainnet"]
mainnet = []
testnet = []
